%p#notice= notice
%p
  %b Blog:
  = @comment.blog_id
%p
  %b Name:
  = @comment.name
%p
  %b Email:
  = @comment.email
%p
  %b Body:
  = @comment.body
= link_to 'Edit', edit_comment_path(@comment)
|
\#{link_to 'Back', comments_path}
